<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mori Documentation</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./main.css" />

</head>

<body>
    <div id="vm">
        <nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">
            <div class="container-fluid">

                <button class="btn btn-outline-light d-lg-none me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#appSidebar" aria-controls="appSidebar" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="">Mori Documentation</a>

                <ul class="navbar-nav w-100 justify-content-between gap-2">
                    <li class="nav-item my-3" style="color:white">
                        <a class="text-light" href="/">Play the Game</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container-fluid py-4">
            <div class="mt-5">
                    <h1>Welcome to Mori</h1>
                    <div>What is Mori? It's a programming language written to allow players to automatic decisionmaking for the game Vanitasia, which is the idle game hosted here.</div>
                    <div>Why is it called Mori?</div>
                    <div>Well the game is called Vanitasia, which is named after an art style called Vanitas which is about the inevitability of death. Memento Mori is a artistic trope about death along the same lines, but it also means "forest" in Japanese, which makes it a cool name.</div>
                    <div>What does Mori look like? Here are some examples:</div>
                    <pre class="documentation-code-block mx-2">x is 7.</pre>
                    <pre class="documentation-code-block mx-2">if there are 0 farmers, hire 1.</pre>
                    <pre class="documentation-code-block mx-2">if food production is less than food consumption and there are more than 5 unemployed people, hire a farmer.</pre>
                    <div>How does Mori work?</div>
                    <div>It's just a simple parser I wrote in Javascript. The main goal is to be as forgiving and accepting as possible. As much as possible syntax errors should be clear as to what word caused the error and what kinds of words the parser was expecting.</div>

                    <div class="my-3">
                        <h3>Basic Syntax</h3>
                        <div class="mx-2">
                            Every Mori command consists of some kind of identification or some kind of action, followed by a period.
                            The goal is to closely mimic actual human speech so that it is easy to figure out and easy to use.

                        </div>
                    </div>
                    <div class="my-3">
                       <h2>Actions</h2>
                       <div class="mx-2">
                            As of the time of writing this, the only actions Mori can perform are to hire and fire workers, and to build buildings. I'd like to add more.
                        
                            <h3 class="mt-2">Hire</h3>
                            <div>
                                <div class="mx-2">You can hire a profession using the <pre style="display:inline;">hire</pre> keyword. Here are some examples:</div>
                                <hr>
                                
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Hire 3 farmers.</pre>
                                    <div>This will hire 3 farmers every game tick. If there are no available workers, nothing will happen.</div>
                                </div>
                                <hr>
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">If unemployed people > 1, then hire a farmer.</pre>
                                    <div>This will hire a farmer if there are 2 or more unemployed people. Mori will ignore commas, indefinite articles, and some unnecessary words like 'then' in the example above.</div>
                                </div>
                                <hr>
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Hire farmers until there are 10.</pre>
                                    <div>This will hire farmers every game tick until the condition after the <pre style="display:inline;">until</pre> keyword is false.</div>
                                </div>
                            </div>

                            <h3 class="mt-2">Fire</h3>
                            <div>
                                <div class="mx-2">You can fire a profession using the <pre style="display:inline;">fire</pre> keyword. Here are some examples:</div>
                                <hr>
                                
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Fire 3 farmers.</pre>
                                    <div>This will fire 3 farmers every game tick. If there are no farmers, nothing will happen.</div>
                                </div>
                                <hr>
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">If farmers > 15, then fire 1.</pre>
                                    <div>This will fire a farmer if there are 16 or more farmers. Mori will ignore commas, indefinite articles, and some unnecessary words like 'then' in the example above. 
                                        Since there is no argument supplied for who to fire, Mori will assume (just like we do in regular speech) that the firing is referring to the previously mentioned farmer.
                                    </div>
                                </div>
                                <hr>
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Fire farmers until there are 10.</pre>
                                    <div>This will fire farmers every game tick until the condition after the <pre style="display:inline;">until</pre> keyword is false.</div>
                                </div>
                            </div>

                            <h3 class="mt-2">Build</h3>
                            <div>
                                <div class="mx-2">You can build a new building using the <pre style="display:inline;">build</pre> keyword. Here are some examples:</div>
                                <hr>
                                
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Build a hut.</pre>
                                    <div>This will build a new hut every game tick. If there are not enough materials, nothing happens.</div>
                                </div>
                                <hr>
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">
If Available Housing is 0, then build a hut.
                                    </pre>
                                    <div>
                                        This will build a hut whenever more huts are needed because there is no other housing available.
                                    </div>
                                </div>
                            </div>

                            <h3 class="mt-2">Demolish</h3>
                            <div>
                                <div class="mx-2">You can demolish a building using the <pre style="display:inline;">demolish</pre> keyword. Here are some examples:</div>
                                <hr>
                                
                                <div class="px-3 m-3">
                                    <pre class="documentation-code-block">Demolish 3 huts.</pre>
                                    <div>This will demolish 3 huts every game tick. If there are no huts, nothing will happen. This is probably a bad idea.
                                        Demolished housing when the total population is greater than the total housing will cause homelessness, which is not good.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        Reserved Currencies:
                        <div v-for="reservedKeyword in currencyReservedNames">
                            [[reservedKeyword]]
                        </div>
                    </div>
                    <div>
                        Reserved Professions:
                        <div v-for="reservedKeyword in currencyReservedNames">
                            [[reservedKeyword]]
                        </div>
                    </div>
            </div>
       </main>
    </div>
    <script src="./vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js" type="module"></script>
</body>

</html>