<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vanitasia</title>
    <!--Yet another civilization idle game, but I made it bigger-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script type="module" src="./lib/chart.min.js"></script>
    <link rel="stylesheet" href="./main.css" />
    <style>
        :root {
            --navbar-h: 56px;
            --sidebar-w: 260px;
        }

        body {
            padding-top: var(--navbar-h);
        }

        button {
            touch-action: manipulation;
        }

        @media (min-width: 992px) {
            .sidebar.offcanvas-lg {
                position: fixed;
                top: var(--navbar-h);
                left: 0;
                width: var(--sidebar-w);
                height: calc(100vh - var(--navbar-h));
                border-right: 1px solid rgba(0, 0, 0, .1);
                transform: none;
                visibility: visible;
            }

            main {
                margin-left: var(--sidebar-w);
            }
        }

        .sidebar .offcanvas-body {
            overflow-y: auto;
        }

        @media (min-width: 992px) {
            body {
                padding-left: var(--sidebar-w);
            }

            main {
                margin-left: 0 !important;
            }
        }
    </style>
</head>

<body>
    <div id="vm">
        <Tooltip :data="activeTooltipData"></Tooltip>
        <nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">
            <div class="container-fluid">

                <button class="btn btn-outline-light d-lg-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#appSidebar" aria-controls="appSidebar" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="">Vanitasia</a>
                <a href="/techgraph.html">Tech</a>

                <ul class="navbar-nav w-100 row">
                    <li class="nav-item my-3 col-1" style="color:white">
                        <div style="text-align:center;">
                            Population
                        </div>
                        <tooltipwrapper :vm="this" :calcfrom="() => hasNumbers() ? getPopulation() : formatNumber(getPopulation(), true)">
                            <div style="text-align:center;border-radius:0.375rem;background-color:#111" class="mx-3">
                                [[formatNumber(getPopulation(), true)]]
                            </div>
                        </tooltipwrapper>
                    </li>
                    <li class="nav-item my-2 col-2" style="color:white;text-align:center;">
                        <div>
                            <button v-for="n in [1, 2, 5, 200, 300, 900, 2700, 9000]" :key="n" type="button" class="btn btn-outline-light" :class="{ active: tickspeed == 300 / n }" @click="setSpeed(300 / n, n / 300)">
                                [[n]]
                            </button>
                        </div>

                    </li>
                    <li class="nav-item my-3 col-6" style="color:white">
                        Task: [[(goalLevelHints[currentGoalLevel])]]
                    </li>
                    <li class="nav-item my-3 align-right col-3 hide-on-mobile" style="color:white;justify-content: right;">
                        <span v-if="settingsMenu.renderDate">[[formatDate(currentDate)]]</span> <span v-if="settingsMenu.renderWeather">[[getWeatherForDate(currentDate)]]</span>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="offcanvas offcanvas-lg sidebar" tabindex="-1" id="appSidebar" aria-labelledby="appSidebarLabel">
            <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title" id="appSidebarLabel">Navigation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
                <div class="d-flex flex-column p-3 h-100 w-100">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item" v-for="menu in getAvailableMenus()">
                            <button @click="setMenu(menu)" :class="currentMenu == menu ? 'active' : ''" class="btn-link nav-link ps-2 w-100" style="text-align: left;" data-bs-dismiss="offcanvas"
                                aria-current="page">[[menu]]</a>
                                <span v-if="menu == 'Technology' && getTechnologies(true).length > 0" class="badge bg-danger rounded-pill">
                                    <span v-if="hasTechnology('Numbers')">
                                        [[formatNumber(getTechnologies(false, false).length, true)]]
                                    </span>
                                    <span v-else-if="focusedTechnology == null">
                                        !
                                    </span>
                                </span>
                                <span v-if="menu == 'Population' && getAvailableWorkers() > 0" class="badge bg-danger rounded-pill">
                                    <span v-if="hasTechnology('Numbers')">
                                        [[formatNumber(getAvailableWorkers(),true)]]
                                    </span>
                                    <span v-else>
                                        !
                                    </span>
                                </span>
                        </li>
                    </ul>
                    <hr />
                </div>
            </div>
        </div>

        <main class="container-fluid py-5">
            <div class="row">
                <template v-if="currentMenu == 'Main'">
                    <h1 class="display-6 mb-4">[[civilizationName]]</h1>
                    <div v-if="civNameConfirmed == false">
                        <label>Name your Civilization</label>
                        <input class="form-control" v-model="civilizationName" />
                        <button class="btn btn-primary m-2" @click="confirmCivName()">Confirm</button>
                    </div>

                    <div class="col">
                        <population :fulldisplaymode="false"></population>
                    </div>
                    <div  class="col">
                        <stockpiles :fulldisplaymode="false"></stockpiles>
                    </div>
                    <div class="col">
                        <buildings :fulldisplaymode="false"></buildings>
                    </div>
                    <div class="col">
                        <technology :fulldisplaymode="false"></technology>
                    </div>
                    <div class="col-12">
                        <div>Log</div>
                        <table class="table table-striped table-responsive">
                            <tbody>
                                <tr v-for="log in log">
                                    <td>[[log.Time]]</td>
                                    <td>[[log.message]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <template v-else-if="currentMenu == 'Population'">
                    <div class="col">
                        <h4>The People of [[civilizationName]]</h4>
                        <population :fulldisplaymode="true"></population>
                    </div>
                    
                </template>
                <template v-else-if="currentMenu == 'Stockpiles'">
                    <div class="col">
                        <h4>The Stockpiles of [[civilizationName]]</h4>
                        <stockpiles :fulldisplaymode="true"></stockpiles>

                    </div>
                </template>
                <template v-else-if="currentMenu == 'Technology'">
                    <div class="col">
                        <h4>The Technologies of [[civilizationName]]</h4>
                        <technology :fulldisplaymode="true"></technology>
                    </div>
                    
                </template>
                <template v-else-if="currentMenu == 'Buildings'">
                    <div class="col">
                        <h4>The Buildings of [[civilizationName]]</h4>
                        <buildings :fulldisplaymode="true"></buildings>
                    </div>
                </template>
                <template v-else-if="currentMenu == 'Laws'">
                    <h1 class="display-6 mb-4">The Laws of [[civilizationName]]</h1>
                    <codetester></codetester>
                </template>
                <template v-else-if="currentMenu == 'Modifiers'">
                    <h1 class="display-6 mb-4">Current Modifiers</h1>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Modifier</th>
                                    <th>Boosts</th>
                                    <th>Requirements</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="modifier in getCurrentModifiers()">
                                    <tr>
                                        <td>[[ modifier.modifierName ]]</td>
                                        <td>
                                            [[ modifier.boost.Name ]]
                                            <tooltipwrapper :vm="this" :text="getCurrencyByName(modifier.boost.Currency)?.Description">
                                                <img class="image-icon" :src="getCurrencyByName(modifier.boost.Currency)?.Icon" />
                                            </tooltipwrapper>
                                            [[ getModifierTypeDescription(modifier.boost.ModifierType) ]] [[
                                            modifier.boost.Amount ]]
                                        </td>
                                        <td>[[ modifier.requirements.Technologies.join(", ") ]]</td>
                                    </tr>
                                </template>
                                <tr v-if="getCurrentModifiers().length == 0">
                                    <td colspan="1000">You have no current modifiers.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <template v-else-if="currentMenu == 'Log'">
                    <h1 class="display-6 mb-4">Log</h1>
                    <div class="log">
                        <table class="table table-striped">
                            <tbody>
                                <tr v-for="log in log">
                                    <td>[[log.Time]]</td>
                                    <td>[[log.message]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <template v-else-if="currentMenu == 'Charts'">
                    <h1 class="display-6 mb-4">The Charts of [[civilizationName]]</h1>
                    <div>
                        <h4 class="my-2">Charts</h4>
                        <div>
                            <template v-for="chart in charts">
                                <button class="btn btn-primary m-2" @click="setCurrentChart(chart.Name)">[[chart.Name]]</button>
                            </template>
                        </div>
                        <div>
                            <button class="btn btn-primary m-2" @click="setChartTimeline('Every Tick')">Every Tick</button>
                            <button class="btn btn-primary m-2" @click="setChartTimeline('Minute')">Minute</button>
                            <button class="btn btn-primary m-2" @click="setChartTimeline('Hour')">Hour</button>
                        </div>
                        <div v-for="chart in charts">
                            <div v-if="chartMenu.currentChart == chart.Name" style="margin-right:200px;">
                                <canvas :id="chart.Name"></canvas>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="currentMenu == 'Settings'">
                    <h1 class="display-6 mb-4">Settings</h1>
                    <div>
                        <h2>World Properties [DO NOT TOUCH]</h2>
                        <label class="form-label">Gravity</label>
                        <input class="form-range" type="range" min="0" max="100" step="0.01" v-model="gravity" />
                        <div>Current: [[gravity]]</div>

                        <label class="form-label">Sunlight</label>
                        <input class="form-range" type="range" min="0" max="10" step="0.1" v-model="sunlight" />
                        <div>Current: [[sunlight]]</div>
                    </div>

                </template>
                <template v-else-if="currentMenu == 'Government'">
                    <h1 class="display-6 mb-4">Government</h1>
                    <div>
                        <div v-if="government.type == 'Oligarchy'">
                            Current Leaders
                            <div v-for="leader in government.currentLeaders">
                                <div>
                                    [[leader.Name]]
                                </div>
                                <div>
                                    Age: [[formatNumber(leader.Age)]]
                                </div>
                            </div>
                            
                            <div>
                                Approval: [[formatNumber(government.currentLeader?.trueApproval)]]
                            </div>
                        </div>
                        <div v-else>
                            Current Leader
                            <div>
                                [[government.currentLeader?.Name]]
                            </div>
                            <div>
                                Age: [[formatNumber(government.currentLeader?.Age)]]
                            </div>
                            <div>
                                Approval: [[formatNumber(government.currentLeader?.trueApproval)]]
                            </div>
                        </div>
                        <div>
                            Currency: <tooltipwrapper :vm="this" :text="currencydata[government.currency].Description">
                                                <img class="image-icon" :src="currencydata[government.currency].Icon" />
                                                [[currencydata[government.currency].Name]]
                                            </tooltipwrapper>
                            Stockpile: 
                            <div>
                                <div class="progress" style="height: 24px;">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        :style="{ width: (government.currencyStockpile / government.stockpileMaxSize * 100) + '%' }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            Government Actions
                            <div v-if="government.type == 'Tribal'">
                                <button>Subsidize Farmers</button>
                                <button>Gather Extra Taxes</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Oligarchy'">
                                <button>Subsidize Wealthy</button>
                                <button>Build Monument</button>
                                <button>Increase Taxes</button>
                                <button>Increase Prices</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Democracy'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Build Consensus</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Republic'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Build Consensus</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Monarchy'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Feudalism'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Bureaucracy'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Adopt New Currency</button>
                            </div>
                            <div v-else-if="government.type == 'Meritocracy'">
                                <button>Subsidize Poor</button>
                                <button>Gather Extra Taxes</button>
                                <button>Adopt New Currency</button>
                            </div>
                        </div>
                        <div>
                            Change Government Type
                            <div>
                                <div>Democracy</div>
                                <div>Republic</div>
                                <div>Oligarchy</div>
                                <div>Feudalism</div>
                                <div>Monarchy</div>
                                <div>Bureaucracy</div>
                                <div>Meritocracy</div>
                            </div>
                        </div>
                    </div>

                </template>
            </div>
        </main>
    </div>
</body>
<script src="./vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="./index.js" type="module"></script>

</html>